.errorBox {
    background-color: rgb(255, 172, 172);
    padding: 5px;
}

.errorBox > button {
    background-color: rgb(255, 131, 131);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
}